<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<>
<h>List of Users you can choose</h>
<ul class="user_holder">
    <button onclick="itemClicked(-1,'')">Group</button>
</ul>

<script>
    let baseUrl = 'http://' + document.domain + ':' + location.port
    let url = baseUrl + '/api/getUsers?userId={{ id }}'

    $.ajax({
        url: url,
        type: 'get',
        success: function (response) {
            response.forEach(function (user) {
                $('ul.user_holder').append(`<button onclick="itemClicked(${user.id},${user.username})">${user.username}</button>`)
            })
        },
        error: function () {
            alert("Couldn`t load items:(");
        }
    });
</script>

<script>
    function itemClicked(id, name) {
        alert('item clicked')
        let param = "?senderId={{ id }}&senderName={{ userName }}&receiverId" + id + "&receiverName=" + name + ""
        console.log(id)
        console.log(name)
        location.replace(baseUrl + "/chat" + param)
    }

</script>

</body>
</html>