<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
    <div class="wrap-login100">
        <h>List of Users you can choose:</h>
        <div class="user_holder" style="height: auto; overflow-y: scroll; color: #fff;max-height: 400px;">
            <button class="login100-form-btn" onclick="itemClicked(-1)"
                    style="height: 40px !important;margin-top:5px; align-content: center">
                GROUP
            </button>

        </div>
    </div>
</div>

<script>
    let baseUrl = 'http://' + document.domain + ':' + location.port
    let senderId = sessionStorage.getItem("id");
    let senderName = sessionStorage.getItem("username")
    let url = baseUrl + '/api/getUsers?userId=' + senderId

    $.ajax({
        url: url,
        type: 'get',
        success: function (response) {
            response.forEach(function (user) {
                $('div.user_holder').append(`<button class="login100-form-btn" onclick="itemClicked(${user.id})  style="height: 40px !important;margin-top:5px;">${user.username}</button>`)
            })
        },
        error: function () {
            alert("Couldn't load items:(");
        }
    });

    function itemClicked(id) {
        console.log(id)

        sessionStorage.setItem("senderId", senderId);
        sessionStorage.setItem("senderName", senderName);
        sessionStorage.setItem("receiverId", id);
        location.replace(baseUrl + "/chat")
    }
</script>


</body>
</html>