<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>MoChat</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../static/js/index.js" charset="utf-8"></script>

</head>

<body>

    <h1>Mo`men Hamaveisi</h1>

    <form action="" method="POST">
        <input type="text" class="username" placeholder="User Name" />
        <input type="text" class="message" placeholder="Messages" />
        <input type="submit" />
    </form>

</body>

</html>